<!DOCTYPE html>
<!--Israel Showell-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>

	<!--Looks for the url of a css file that I will add in the future-->
    <link rel="stylesheet" type=text/css href="{{url_for('static',filename='custom.css')}}">

    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"
      rel="stylesheet"/>
</head>
<body>
    <h2>Reset Password</h2>
    <form method="POST" action="/reset_password">
		<label for="Email">Email:</label>
		<input type="email" name="Email" required>
	
		<label for="NewPassword">New Password:</label>
		<input type="password" name="NewPassword" required>
	
		<label for="ConfirmPassword">Confirm New Password:</label>
		<input type="password" name="ConfirmPassword" required>
	
		<button type="submit">Reset Password</button>
	</form>	
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li><strong>{{ category.capitalize() }}:</strong> {{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <!--Looks for the Home function in the app.py script-->
		<h4><a href="{{ url_for('Home') }}"><strong>Go Home</strong></a></h4>
    
</body>
</html>
