<!DOCTYPE html>
<!--Israel Showell-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Task</title>

    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/main.css') }}">
    
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet"/>
</head>
<body>
    <h1>Update Task</h1>

    <!-- Display error message if any -->
    {% if error %}
        <p class="error" style="color: red;">{{ error }}</p>
    {% endif %}

    <!-- Task update form -->
    <form method="POST" action="{{ url_for('update_task', task_id=request.args.get('task_id')) }}">
        <label for="TaskName">Task Name:</label>
        <input type="text" name="TaskName" id="task_name" value="{{ task[0] }}" required>
    
        <label for="task_desc">Task Description:</label>
        <textarea name="TaskDesc" id="task_desc" rows="4" required>{{ task[1] }}</textarea>
    
        <!-- Dropdown for Priority -->
        <label for="Priority">Task Priority:</label>
        <select name="Priority" required>
            <option value="Important-Urgent" {% if task[2] == "Important-Urgent" %}selected{% endif %}>Important-Urgent</option>
            <option value="Important-Not-Urgent" {% if task[2] == "Important-Not-Urgent" %}selected{% endif %}>Important-Not-Urgent</option>
            <option value="Not-Important-Urgent" {% if task[2] == "Not-Important-Urgent" %}selected{% endif %}>Not-Important-Urgent</option>
            <option value="Not-Important-Not-Urgent" {% if task[2] == "Not-Important-Not-Urgent" %}selected{% endif %}>Not-Important-Not-Urgent</option>
        </select><br>

        
        <label for="ranking">Task Ranking (5-Highest and 1-Lowest):</label>
        <input type="number" name="eanking"min="1" max="5" placeholder="Ranking (1-5)" id="ranking" value="{{ task[3] }}" required>

        <label for="deadline">Task Deadline:</label>
        <input type="date" name="deadline" id="deadline" value="{{ task[4] }}" required>
    
        <input type="submit" value="Update Task">
    </form>    

    <!-- Navigation back to dashboard -->
    <div class="nav-links">
        <a href="{{ url_for('dashboard') }}">Back to Dashboard</a>
    </div>
</body>
</html>
